@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #0a1811;
    --primary-color-highlight: #235438;
    --bs-body-bg: #d0dab8;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--bs-body-bg);
    font-family: var(--bs-body-font-family);
}

/**
*   Navbar styling
*/
.navbar.greenfootNav {
    background-color: #0a1811 !important;
}

.navbar.greenfootNav a {
    color: antiquewhite !important;
    text-decoration: none !important;
}

.greenfootNavDropdown .dropdown-menu {
    background-color: #0a1811 !important;
}

.greenfootNavDropdown .dropdown-menu :hover {
    background-color:seagreen;
}

.greenfootNav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(250, 235, 215, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/**
*   Footer styling
*/
.greenFooter {
    background-color: #0a1811;
    width: 100%;
    padding: 100px 0 50px 0;
}

/**
*   Landing styling
*/

#landingContainer {
    background: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80) no-repeat center center fixed;
    height: 100%;
    display: flex;
    position: relative;
    width: 100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.landingText {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}

.landingText h1 {
    color: antiquewhite;
    font-size: 500%;
    font-weight: 700;
}

.landingText h3 {
    color: antiquewhite;
}

/**
*   Page title and text styling
*/

.pageTitle {
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: center;
}

.pageText {
    display: flex;
    justify-content: center;
    text-align: center;
}

.pageDivider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: #228b22;
}

.pageDividerPadding {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    color: #228b22;
}

.titleRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0 20px 0;
    text-align: center;
}

.textDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.paddedRow {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
    padding-bottom: 40px;
}

.cardCol {
    margin: 20px 0 20px 0;
}

.cardDisplay {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.displayContainer {
    background-color: #f7f9f3;
    border-radius: 20px;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 1px;
}

.scrollableContainer {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    margin-top: 1rem; 
}

/**
*   Dashboard Styling
*/
.imageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 50px;
}

/**
*   Result filtering styling
*/
.selectorRow {
    display: flex;
    justify-content: center;
}

.selectorCol {
    margin: 15px 0 0 15px;
    display: flex;
    justify-content: center;
}

.selectFilter h5 {
    display: flex;
    justify-content: center;
}

.customButton {
    color: rgb(68, 34, 19);
    width: 100px;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    background: antiquewhite;
    transition: .4s;
}

.customButton:hover {
    background: rgb(255, 246, 233);
    color: rgb(68, 34, 19);
}

/**
*   Table styling
*/
.treeTable {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 30px 0;
}

.treeTable th,
.treeTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

.treeTable th {
    background-color: #4CAF50;
    color: white;
}

.treeTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.noDataMessage {
    text-align: center;
}

/**
* Pie chart styling
*/
.chartContainer {
    width: 100%; 
    height: 600px; 
    overflow: auto; 
    margin: 30px 0 30px 0;
}

.chartContainerSmaller {
    width: 100%; 
    height: 420px; 
    overflow: auto; 
    margin-bottom: 30px;
}


/**
*   New record form styling
*/

.reportAccordion {
    width: 100%
}

.reportAccordionHeader {
    font-size: 12px !important;
}

.reportSubmissionGroup{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.reportSubmissionControl {
    width: 100%;
    background: transparent;
    margin-bottom: 20px;
    color: #40414a;
}

/**
*   Login styling
*/
.wrapper {
    background: #ececec;
    padding: 0px 20px 0px 20px;
}

.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sideImage {
    background-image: url(https://images.unsplash.com/photo-1599940824399-b87987ceb72a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=627&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.loginRow {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageText p {
    color: antiquewhite;
    font-size:xx-large;
}

.loginContents {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inputBox {
    width: 330px;
    box-sizing: border-box;
}

.loginHeader {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.inputField{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.centreButton {
    display: flex;
    justify-content: center;
}

.signUp {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

.signUp a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(68, 34, 19);
    transition: .5s;
}

.signUp a:hover {
    text-decoration: underline;
    color: rgb(68, 34, 19);
}

/**
*   Register styling
*/

.registerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.registerRow {
    width: 900px;
    height: 600px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.registerContents {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.registerHeader {
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}

.registerField{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 2px 0 2px;
}

.registerInput {
    height: 38px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 12px;
    color: #40414a;
}

.labelText {
    font-size: 15px;
}

.signIn {
    text-align: center;
    font-size: small;
    margin-top: 15px;
}

.signIn a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(68, 34, 19);
    transition: .5s;
}

.signIn a:hover {
    text-decoration: underline;
    color: rgb(68, 34, 19);
}

/**
*   Map View styling
*/
.map-container {
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 769px) {
    /**
    *   Login styling mobile view
    */
    .sideImage {
        border-radius: 10px 10px 0 0;
    }

    .imageText {
        position: absolute;
        top: 70%;
        text-align: center;
    }

    .imageText p {
        font-size: 21px;
    }

    .loginRow {
        max-width: 420px;
        width: 100%;
    }

    /**
    *   Register styling mobile view
    */
    .registerRow {
        max-width: 420px;
        width: 100%;
    }

    /**
    *   Result filtering styling
    */
    .selectorRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /**
    *   Report submission mobile view
    */
    .reportSubmissionRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .reportSubmissionGroup{
        
        align-items: center;
    }
}