@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/**
*   Navbar styling
*/
.navbar.greenfootNav {
    background-color: #0a1811 !important;
}

.navbar.greenfootNav a {
    color: antiquewhite !important;
    text-decoration: none !important;
}

.greenfootNavDropdown .dropdown-menu {
    background-color: #0a1811 !important;
}

.greenfootNavDropdown .dropdown-menu :hover {
    background-color:seagreen;
}

.greenfootNav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(250, 235, 215, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  

/**
*   Landing styling
*/

#landingContainer {
    background: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80) no-repeat center center fixed;
    height: 100%;
    display: flex;
    position: relative;
    width: 100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.landingText {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}

.landingText h1 {
    color: antiquewhite;
    font-size: 500%;
    font-weight: 700;
}

.landingText h3 {
    color: antiquewhite;
}

/**
*   Page title and text styling
*/

.pageTitle {
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: center;
}

.pageText {
    display: flex;
    justify-content: center;
}

.pageDivider {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}

/**
*   Result filtering styling
*/
.selectorRow {
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
}

.selectFilter h5 {
    display: flex;
    justify-content: center;
}

.customButton {
    color: rgb(68, 34, 19);
    width: 100px;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    background: antiquewhite;
    transition: .4s;
}

.customButton:hover {
    background: rgb(255, 246, 233);
    color: rgb(68, 34, 19);
}

/**
*   Table styling
*/
.treeTable {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 30px 0;
}

.treeTable th,
.treeTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

.treeTable th {
    background-color: #4CAF50;
    color: white;
}

.treeTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.noDataMessage {
    text-align: center;
}

/**
*   New record form styling
*/
.formGroup{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.form-control {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

/**
*   Login styling
*/
.wrapper {
    background: #ececec;
    padding: 0px 20px 0px 20px;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.side-image {
    background-image: url(https://images.unsplash.com/photo-1599940824399-b87987ceb72a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=627&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

#login-row {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.login-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-text p {
    color: antiquewhite;
    font-size:xx-large;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 330px;
    box-sizing: border-box;
}

#login-header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    top: -10px;
    font-size: 13px;
    color: rgb(68, 34, 19);
}

#login-button {
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    background: antiquewhite;
    transition: .4s;
}

#login-button:hover {
    background: rgb(255, 246, 233);
    color: rgb(68, 34, 19);
}

.signup {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

.signup a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(68, 34, 19);
    transition: .5s;
}

.signup a:hover {
    text-decoration: underline;
    color: rgb(68, 34, 19);
}

/**
*   Map View styling
*/
.map-container {
    width: 100%;
    height: 100vh;
}